*{
    padding: 0;
    margin: 0;
}
#con1{
    height: 100vh;
}
#con2{
    background-image:linear-gradient(#FD749B, #281AC8);
    height: 100%;
    display: flex;
    justify-content: space-evenly ;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    align-items: center;
}
.custom-shape-divider-bottom-1600235495 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1600235495 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 126px;
}

.custom-shape-divider-bottom-1600235495 .shape-fill {
    fill: #FFFFFF;
}
.gambar{
    width: 600px;
    height: 500px;
}
.text #button{
    float: left ; 
    width: 50%; 
}
/* .con2-img{
    float: right; */
}
span{
    font-weight: bold;
}
#a{
    font-size: 40px;
    color:#FFFFFF;
    margin-bottom: 50px;
    padding-left: 45px;
    
}
#b{
    font-size: 18px;
    color:#FFFFFF;
    margin-bottom: 40px;
    padding-left: 45px;

}
#button{
    background-color: #FFFFFF;
    height: 54px;
    width: 157px;
    border: none;
    border-radius: 50px;
    margin-left: 45px;   
}
#button:hover{
    box-shadow: 7px 10px 24px 0px rgba(36,36,36,0.61);
} 
#text-button{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background: linear-gradient(to bottom, #FD749B 0%, #281AC8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 300px) and (max-width: 319px) {
  .gambar {
    display: none;
  }
  #con2{
    height: 670px;
    align-items: flex-start;
    text-align: center;
  }
  .text{
    margin-top: 45px;
    margin-right: 35px;
  }
  #a{
    font-size: 30px;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  span{
    font-weight: bold;
  }
  #b{
    font-size: 15px;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  .custom-shape-divider-bottom-1600235495 svg{
    height: 50px;   
  }
  #button{
    margin-left: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
.gambar {
    display: block;
    width: 95%;
    height: 315px;
  }
#con2{
    height: 63em;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
  }
  .con2-1{
    order: 2;
    height: 38em;
  }
  .con2-img{
    order: 1;
    margin-top: 3em;
    align-self: center;
  }
  .text{
    margin-top: 45px;
    margin-right: 35px;
  }
  #a{
    font-size: 30px;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  span{
    font-weight: bold;
  }
  #b{
    font-size: 15px;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  .custom-shape-divider-bottom-1600235495 svg{
    height: 50px;   
  }
  #button{
    margin-left: 0;
  }
}

@media only screen and (min-width: 360px) and (max-width: 479px){

.gambar {
    display: block;
    width: 95%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 75px;
  }
#con2{
    height: 63em;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
  }
  .con2-1{
    order: 2;
    height: 1000px;
    margin: auto;
  }
  .con2-img{
    order: 1;
    margin-top: 3em;
    align-self: center;
  }
  .text{
    margin-top: 45px;
    margin-right: 35px;
  }
  #a{
    font-size: 30px;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  span{
    font-weight: bold;
  }
  #b{
    font-size: 15px;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  .custom-shape-divider-bottom-1600235495 svg{
    height: 50px;   
  }
  #button{
    margin-left: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
.gambar {
    display: block;
    width: 95%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 75px;
  }
#con2{
    height: 71em;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
  }
  .con2-1{
    order: 2;
    height: 1000px;
    margin: auto;
  }
  .con2-img{
    order: 1;
    margin-top: 3em;
    align-self: center;
    margin: auto;
  }
  .text{
    margin-top: 45px;
    margin-right: 35px;
  }
  #a{
    font-size: 7vh;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  span{
    font-weight: bold;
  }
  #b{
    font-size: 3.5vh;
    padding: 0 20px 0 20px;
    margin-right: 0;
  }
  .custom-shape-divider-bottom-1600235495 svg{
    height: 75px;
  }
  #button{
    margin-left: 0;
  }
}